* {
    font-family: 'Inter UI' !important;
}

#votingDapp p a,
#votingDapp p a:visited {
    background: url(../images/external-link.svg) no-repeat center right;
    padding-right: 20px;
    color: #4360DF;
    text-decoration: none;
}

#votingDapp div.section {
    padding: 20px;
    margin-bottom: 66px
}

#votingDapp div.section h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
}

#votingDapp div.votingTimer p {
    font-size: 0.8rem;
}


#votingDapp hr {
    border: 3px solid #edf2f5;
}

#votingDapp div.votingTimer {
    padding: 20px;
    text-align: center;
}

#votingDapp div.votingTimer h1 {
    margin-top: .5rem;
    font-size: 2.2rem;
}

#votingDapp div.votingTimer .timeUnit {
    font-weight: normal;
    text-transform: uppercase;
    font-size: .75rem;
    color: #939BA1;
}

#votingDapp div.votingTimer ul {
    width: 240px;
    margin: auto;
    list-style: none;
    padding: 0;
}

#votingDapp div.votingTimer ul li {
    width: 80px;
    float: left;
    padding: 0;
    margin: 0;
}

#votingDapp div.action {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 1em;
}

#votingDapp div.action a {
    text-decoration: none;
}

#votingDapp div.pollClosed {
    text-align: center;
    padding-top: 2em;
}


#votingDapp div.pollClosed h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
}

#votingDapp div.pollClosed p {
    color: #939BA1;
    margin-top: .5em;
}

#votingDapp div.center {
    text-align: center;
}

#votingDapp div.card {
    margin-top: 1em;
    border: 1px solid #edf2f5;
    border-radius: 3px;
    box-shadow: none;
}

#votingDapp div.credits {
    padding: 0;
}

#votingDapp div.credits div {
    padding: 0;
}

#votingDapp div.credits div .title {
    display: inline-block;
    width: 150px;
    padding: 15px;
}

#votingDapp div.credits div .value {
    font-weight: bold;
    text-align: right;
    width: 150px;
    float: right;
    padding: 15px;
}

#votingDapp div.credits .text {
    border-top: 1px solid #edf2f5;
    padding: 15px;
    color: #939BA1;
    font-size: .75rem;
}

#votingDapp div.credits .warning {
    padding: 15px;
    border-top: 1px solid #edf2f5;
}

#votingDapp div.card div.ballotData {
    padding-bottom: 0;
}

#votingDapp div.card div.actionArea {
    padding-top: 0;
}

#votingDapp div.card div.actionArea button {
    color: #4360DF;
    background: url(../images/small-arrow.svg) center right no-repeat;
    padding-right: 15px;
}

#votingDapp div.card h2 {
    font-weight: bold;
}

#votingDapp div.buttonNav {
    text-align: right;
    box-shadow: 0px 2px 16px rgba(0, 10, 56, 0.1);
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #ffffff;
}

#votingDapp div.buttonNav.back {
    text-align: left;
}

#votingDapp div.buttonNav a,
#votingDapp div.buttonNav a:visited {
    text-decoration: none;
}

#votingDapp div.buttonNav button {
    background: url(../images/medium-arrow.svg) center right no-repeat;
    padding-right: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #4360DF;
    font-size: 0.75rem;
}

#votingDapp div.buttonNav.back button {
    background: url(../images/medium-arrow-l.svg) center left no-repeat;
    padding-right: 0;
    padding-left: 15px;
}

#votingDapp div.left {
    width: 60px;
    float: left;
    height: 75px;
}

#votingDapp div.left span {
    background-color: #ECEFFC;
    width:44px;
    height:44px;
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
    border-radius:50%;
    overflow:hidden;
}

#votingDapp div.warning h2 {
    background: url(../images/warning.svg) no-repeat center left;
    padding-left: 25px;
}

#votingDapp div.card.review,
#votingDapp div.card.review > div {
    padding: 0 !important;
}

#votingDapp div.card.review h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#votingDapp div.card.review p {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#votingDapp div.review div.data {
    border-top: 1px solid #edf2f5;
}

#votingDapp div.review div.data div.item {
    width: 45%;
    display: inline-block;
    color: #939BA1;
    font-size: .8rem;
    padding: 15px;
    border-right:  1px solid #edf2f5;
}

.noBorder {
    border: none !important;
}


#votingDapp div.review div.data div.item span {
    font-size: 1.3rem;
    margin-right: .3em;
    font-weight: bold;
    color: #000000;
}

#votingDapp div.creditsAvailable {
    background: #EEF2F5;
    text-align: center;
    padding: 15px;
}

#votingDapp div.creditsAvailable div {
    padding: 0;
}

#votingDapp div.creditsAvailable a,
#votingDapp div.creditsAvailable a:visited {
    text-decoration: none;
    text-transform: capitalize;
    color: #4360DF;
    font-size: 0.75rem;
}

#votingDapp div.creditsAvailable button {
    width: 100%;
    border-top: 1px solid #ffffff;
    margin-top: 10px;
}

#votingDapp p.votingCredits {
    float: left;
    padding-left: 15px;
    padding-top: 8px;
    color: #939BA1;
}

#votingDapp p.votingCredits span {
    color: #000000;
}


button:disabled,
button[disabled]{
    opacity: .5;
}

.errorTrx {
    text-align: center;
    padding-top: 100px;
}

.errorTrx div.image {
    padding: 20px 11px 7px 11px;
    border-radius: 50%;
    background: #ffe8ec;
    display: inline;
}

.errorTrx h1,
.errorTrx p {
    margin-bottom: 15px;
}


#votingDapp div.transactionArea {
    background: #EEF2F5;
    text-align: center;
    padding: 3em;
}

#votingDapp div.transactionArea img {
    margin-bottom: .8rem;
}

#votingDapp div.transactionArea h1 {
    font-weight: bold;
    margin-bottom: .8rem;
}

#votingDapp div.transactionArea div.confirmed h1 {
    margin-bottom: 2rem;
}

#votingDapp div.transactionArea p {
    color: #939BA1;
}