* {
    font-family: 'Inter UI';
}


  /* fallback */
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  body {
      background: #ffffff !important;
  }

#votingDapp p a,
#votingDapp p a:visited {
    background: url(../images/external-link.svg) no-repeat center right;
    padding-right: 20px;
    color: #4360DF;
    text-decoration: none;
}

#votingDapp div.section {
    padding: 20px;
    margin-bottom: 66px;
    margin-right: 4px;
    margin-left: 4px;
}

#votingDapp div.section h1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 1em;
}

#votingDapp div.votingTimer p {
    font-size: 0.8rem;
}


#votingDapp hr {
    border: 3px solid #edf2f5;
}

#votingDapp div.votingTimer {
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 235px;
}

#votingDapp div.votingTimer h1 {
    margin-top: .5rem;
    font-size: 2.2rem;
}

#votingDapp div.votingTimer .timeUnit {
    font-weight: normal;
    text-transform: uppercase;
    font-size: .75rem;
    color: #939BA1;
}

#votingDapp div.votingTimer ul {
    width: 240px;
    margin: auto;
    list-style: none;
    padding: 0;
}

#votingDapp div.votingTimer ul li {
    width: 80px;
    float: left;
    padding: 0;
    margin: 0;
}

#votingDapp div.action {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 1em;
}

#votingDapp div.action a {
    text-decoration: none;
}

#votingDapp div.pollClosed {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 235px;
}


#votingDapp div.pollClosed h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
}

#votingDapp div.pollClosed p {
    color: #939BA1;
    margin-top: .5em;
}

#votingDapp div.center {
    text-align: center;
}

#votingDapp div.card {
    margin-top: 1em;
    border: 1px solid #edf2f5;
    border-radius: 3px;
    box-shadow: none;
}

#votingDapp div.credits {
    padding: 0;
}

#votingDapp div.credits div {
    padding: 0;
}

#votingDapp div.credits div .title {
    display: inline-block;
    width: 130px;
    padding: 15px;
}

#votingDapp div.credits div .value {
    font-weight: bold;
    text-align: right;
    width: 130px;
    float: right;
    padding: 15px;
}

#votingDapp div.credits .text {
    border-top: 1px solid #edf2f5;
    padding: 15px;
    color: #939BA1;
    font-size: .75rem;
}

#votingDapp div.credits .warning {
    padding: 15px;
    border-top: 1px solid #edf2f5;
}

#votingDapp div.card div.ballotData {
    padding-bottom: 0;
}

#votingDapp div.card div.actionArea {
    padding-top: 0;
}

#votingDapp div.card div.actionArea button {
    color: #4360DF;
    background: url(../images/small-arrow.svg) center right no-repeat;
    padding-right: 15px;
}

#votingDapp div.card h2 {
    font-weight: bold;
}

#votingDapp div.buttonNav {
    text-align: right;
    box-shadow: 0px 2px 16px rgba(0, 10, 56, 0.1);
    padding: 15px;
    width: 100%;
    height: 52px;
    position: fixed;
    bottom: 0;
    background: #ffffff;
}

#votingDapp div.buttonNav.back {
    text-align: left;
}

#votingDapp div.buttonNav a,
#votingDapp div.buttonNav a:visited {
    text-decoration: none;
}

#votingDapp div.buttonNav button,
.arrowRightLink {
    background: url(../images/medium-arrow.svg) center right no-repeat;
    padding-right: 15px;
    text-decoration: none;
    text-transform: none;
    color: #4360DF;
    font-size: 15px;
    line-height: 22px;
}

.upperCase {
    text-transform: uppercase !important;
}

#votingDapp div.buttonNav.back button {
    background: url(../images/medium-arrow-l.svg) center left no-repeat;
    padding-right: 0;
    padding-left: 15px;
}

#votingDapp div.left {
    width: 60px;
    float: left;
    height: 75px;
}

#votingDapp div.right {
    display: block;
    float: left;
    width: 75%;
    margin-bottom: 15px;
}

#votingDapp div.left span {
    background-color: #ECEFFC;
    width:44px;
    height:44px;
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
    border-radius:50%;
    overflow:hidden;
}

#votingDapp div.warning h2 {
    background: url(../images/warning.svg) no-repeat center left;
    padding-left: 25px;
    white-space: nowrap;
}

#votingDapp div.warning p {
    display: block;
    float: left;
    margin-bottom: 15px;
}

#votingDapp div.card.review,
#votingDapp div.card.review > div {
    padding: 0 !important;
}

#votingDapp div.card.review h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#votingDapp div.card.review p {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#votingDapp div.review div.data {
    border-top: 1px solid #edf2f5;
}

#votingDapp div.review div.data div.item {
    width: 45%;
    display: inline-block;
    color: #939BA1;
    font-size: .8rem;
    padding: 15px;
    border-right:  1px solid #edf2f5;
}

.noBorder {
    border: none !important;
}


#votingDapp div.review div.data div.item span {
    font-size: 1.3rem;
    margin-right: .3em;
    font-weight: bold;
    color: #000000;
}

#votingDapp div.creditsAvailable {
    background: #EEF2F5;
    text-align: center;
    padding: 15px;
}

#votingDapp div.creditsAvailable div {
    padding: 0;
}

#votingDapp div.creditsAvailable a,
#votingDapp div.creditsAvailable a:visited {
    text-decoration: none;
    text-transform: capitalize;
    color: #4360DF;
    font-size: 0.75rem;
}

#votingDapp div.creditsAvailable button {
    width: 100%;
    border-top: 1px solid #ffffff;
    margin-top: 10px;
}

#votingDapp p.votingCredits {
    float: left;
    padding-left: 15px;
    padding-top: 8px;
    color: #939BA1;
}

#votingDapp p.votingCredits span {
    color: #000000;
}


button:disabled,
button[disabled]{
    opacity: .5;
}

.errorTrx {
    text-align: center;
    padding-top: 100px;
}

.errorTrx div.image {
    padding: 20px 11px 7px 11px;
    border-radius: 50%;
    background: #ffe8ec;
    display: inline;
}

.errorTrx h1,
.errorTrx p {
    margin-bottom: 15px;
}


#votingDapp div.transactionArea {
    background: #EEF2F5;
    text-align: center;
    padding: 3em;
}

#votingDapp div.transactionArea img {
    margin-bottom: .8rem;
}

#votingDapp div.transactionArea h1 {
    font-weight: bold;
    margin-bottom: .8rem;
}

#votingDapp div.transactionArea div.confirmed h1 {
    margin-bottom: 2rem;
}

#votingDapp div.transactionArea p {
    color: #939BA1;
}

#votingDapp div.ballotResult {
    margin-bottom: 30px;
    margin-right: 115px;
}

#votingDapp div.ballotResult .progress {
    background:#EEF2F5;
    cursor: pointer;
    width: 100%;
    float: left;
    clear: left;
    height: 6px;
    
}

#votingDapp div.ballotResult .progress span {
    background: #4360DF;
    padding: 0;
}

#votingDapp div.ballotResult .collapse {
    background: url(../images/arrow-up.svg) no-repeat center right;
}

#votingDapp h2.ballotResultTitle {
    width: 100%;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

#votingDapp h2.ballotResultTitle span {
    font-weight: bold;
    margin-right: 5px;
}

#votingDapp .ballotResultData {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: .8rem;
    width: 100%;
    clear: left;
}

#votingDapp .ballotResultData li {
    border-bottom: 1px solid #EEF2F5;
    color: #939BA1;
    margin: 0;
    padding: 10px 10px 10px 0;

}

#votingDapp .ballotResultData li span {
    float: right;
}

.progress {
    color: #000000;
    box-sizing: initial;
    color: #fff;
    font-size: 11px;
    font-size: 0.6875rem;
    height: 12px;
    line-height: 1.182;
    margin: 6px 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .progress-large {
    font-size: 16px;
    font-size: 1rem;
    height: 25px;
    line-height: 1.7;
  }
  
  .progress > span {
    background-color: #ECEFFC;
    display: block;
    height: 100%;
    position: relative;
    width: auto;
    min-width: 5px;
    max-width: 100%;
    padding: 5px 0 5px 20px;
    border-radius: 8px;
  }

  .progress-large span {
      white-space: nowrap;
  }

  .ballotResult .percentage {
      width: 115px;
      cursor: pointer;
      margin-right: -115px;
      float: left;
      text-align: right;
      background: url(../images/arrow-down.svg) no-repeat center right;
      padding-right: 30px;
      font-weight: bold;
  }

  .ballotResult .percentage.collapse {
    background: url(../images/arrow-down.svg) no-repeat center right;
  }


.customSlider {
    height: 52px;
}

.customSlider .nav1    { 
    width:50px; 
    float:left; 
    height: 52px;
}

.customSlider div button {
    border: none;
    background: #ECEFFC;
}

.customSlider .nav1 button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.customSlider .nav2 button {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.customSlider .nav2    { width:50px; float:right; }

.customSlider .content { 
    margin:0 50px; 
}

.customSlider .content .progress {
    background: #ECEFFC;
    height: 54px;
}

.customSlider .content .progress > span {
    background: rgba(67, 96, 223, 0.15);
    height: 52px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    max-width: 100% !important;
    min-width: 0;
}

.customSlider .content .progress  > span {
    text-align: center;
}

.customSlider .content .progress span span {
    position: relative;
    top: 5px;
}

.customSlider .content .progress span span small {
    color: #666666;
    font-weight: normal;
}

.customSlider .clear   { clear:both; }

#votingDapp div.buttonNav.footer {
    background: #262A39;
    text-align: center;
    box-shadow: none;
    color: #666666;
}


.SNTBalance {
    float: right;
    display: block;
  }

.pollTime {
    background: #EEF2F5;
    padding: 15px;
    border-radius: 8px;
    margin: 25px 0 !important;
}

.helpLink {
    width: 100%;
    text-align: center;
    font-size: .85rem;
    margin-top: 10vh;
}

.helpLink a {
    cursor: pointer;
}


/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */

.spinner {
    margin: auto;
    margin-bottom: .8rem;
    width: 40px;
    height:40px;
    text-align: center;
    background-color:#4360DF;
    border-radius: 100px;
  }
  
  .spinner > div {
    width: 6px;
    height: 6px;
    background-color: #fff;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    margin-top:17px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  .helpDialog h1 {
    font-size: 1rem;
    margin-top: 1.2em;
    font-weight: bold;
    padding: 5px 20px;
  }

  .helpDialog p {
      padding: 5px 20px;
  }


  .pollTypeTitle {
      text-transform: uppercase;
      color: #939BA1;
      font-size: .8rem;
      font-weight: normal;
  }

  div.card.poll h2 {
      font-size: 1rem;
  }

  div.card.poll p {
      color: #939BA1;
  }

  div.card.poll .stats {
    font-size: .85rem;
    margin-top: 5px;
  }

  .otherPollsTitle small {
      font-size: .85rem;
      color: #939BA1;
      font-weight: normal;
  }

  .landingPageButton {
      text-align: center;
      color:#4360DF;
      font-weight: normal;
      background: #ECEFFC;
      border: none;
      text-decoration: none;
      padding: 10px 30px;
      font-size: .8rem;
      border-radius: 5px;
  }

  .landingPageButton:hover {
    background: rgb(212, 216, 233);
  }

  div.poll span.pollClosingDate {
    background: #ECEFFC;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: normal;
    padding: 5px 7px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 150px;
    display: block;
    text-align: center;
  }

  .pollCreation small {
    float: right;
    color: #939BA1;
    font-size: 12px;
    padding-right: 24px;
  }

  .pollCreation .errorText {
    margin: 0;
    display: inline;
    color: #f00;
  }

  .pollCreation .inputTxt label {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    line-height: 22px;
  }

  .pollCreation .inputTxt textarea,
  .pollCreation .inputTxt input {
    height: 52px;
    background: #EEF2F5;
    border-radius: 8px;
    padding: 14px;
  }

  .pollCreation .inputTxt textarea::placeholder {
    text-align: center;
  }

  .pollCreation .inputTxt div:after,
  .pollCreation .inputTxt div:before,
  .pollCreation .inputTxt:hover div:after,
  .pollCreation .inputTxt:hover div:before {
      border-bottom: 0;
  }

  .createPollBtn {
      float: right;
      margin-right: 20px;
      margin-top: 20px;
  }

  .pollOption {
    border: 1px solid #edf2f5;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 12px;
    position: relative;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  }


  .pollOption h1 {
      font-size: 15px !important;
      line-height: 22px !important;
      font-weight: 600 !important;
      margin: 0 !important;
      color: #000;
  }

  .pollOption p {
      font-size: 13px !important;
      color: #939BA1 !important;
  }

  .pollOption button.edit {
    position: absolute;
    top: -10px;
    right: 80px;
}

  .pollOption button.delete {
      position: absolute;
      top: -10px;
      right: 10px;
  }

  .addOption {
    margin: 10px 0px 30px 0px;
    display: block;
    cursor: pointer;
    color: #4360DF;
    padding: 0 10px 20px 10px;
    border-radius: 10px;
  }

  .stickyBar {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 99999;
    background-color: #FFFFFF;
  }

  .addOption:hover {
    background: #EEF2F5;
  }

  .addOption:active {
      background: #939BA1;
  }

  .addOption img {
    position: relative;
    margin-right: 15px;
    top: 10px;
  }

  .reviewDetails {
      margin-top: 30px;
  }

  .reviewDetails p {
    font-size: 15px;
    line-height: 22px;
  }

  .reviewDetails h3 {
      font-size: 17px;
      line-height: 24px;
      font-weight: bold;
  }

  .reviewDetails h3.grayHeader {
    color: #939BA1;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
  }

  .reviewDetails .detail {
    font-weight: 600 !important;
    line-height: 22px !important;
    font-size: 15px !important;
    color: #000 !important;
  }
